.footer {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
    font-size: 14px;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    margin-left: 2.7rem;
    font-family: var(--open-sans);
}

@media (width < 768px) {
    .footer {
        position: relative;
    }
}